<header>
  <h1>Weather With Angular</h1>
</header>

<app-weather></app-weather>



<!--Footer-->
<footer class="footer-box row gx-0">
  <div class="footer-info col-8">
      <h1>About Me</h1>
      <p class="p-1">This is a project by Paul Burgess and is the final project for the Angular course.
        This project uses Bootstrap and FontAwesome for stylization. If you would like to get in contact with me please use one of the links to the right.</p>
  </div>
  

  <div class="footer-links col-4">
      
      <ul  class="list-unstyled">
          <li>
              <h5>Follow Me</h5>
            </li>
          <li>
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #0077b5;"
                href="https://www.linkedin.com/in/paul-m-burgess/"
                role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #333333;"
                href="https://github.com/PaulBurgess1/"
                role="button">
                <i class="fab fa-github"></i>
            </a>
          </li>
      </ul>
  </div>
  <div class="footer-copyright row">
    <p>© 2022 Copyright: <a href="#">Paul Burgess</a></p>
    <p>All rights reserved.</p>
  </div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
